.dashboard {
    height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  padding: 20px;
  padding-left: 100px;
}
.dashboard p {
    font-size: 32px;
  margin: 0;
  
}
.fileds{
   
    width: 100%;
    
    
}    
.fields div{
    margin-right: 20px;
  
}

.dashboard-container {
    height: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.emi-shown{
    padding-left: 100px;
}

@media screen and (max-width: 600px) {
    .dashboard {
        padding: 10px;
        padding-left: 20px;
    }
    .dashboard p {
        font-size: 24px;
        margin-bottom: 20px;  }
    .fields{
        flex-direction: column;
        align-items: center;
        
    }
    
    .fields div{
        margin-right: 0;
        margin-bottom: 10px;
    }
  .dashboard-container{
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
   

}
.emi-shown{
    padding-left: 20px;
}
    
}

