*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error-page {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.error-page h1 {
    margin-bottom: 20px;
}